body {
  /* background: linear-gradient(to right, #abb0b8, #e3f2fd); */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
}
.app-container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
  /* background-color: #ffffffcc; */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}


/* Navbar */
li.main-task  input[type="checkbox"]:checked + label{
  text-decoration: line-through;
  color:  #D14D72; 

}
li.main-task {
    background: #ffe2e2;
}

